@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
:root {
  --accentbright: #2196f3;
  --mainbright: #ffffff;
  --mainmid: #757575;
  --maindark: #212121;
  --background: #e5e5e5;
  --footercolor: #2f303a;
  --accentbackground: #f5f4fa;
}

body {
  font-family: roboto;
  color: var(maindark);
  font-weight: 400;
}

a:link:active {
  cursor: pointer;
}
button:hover {
  cursor: pointer;
}

.logo {
  color: var(--accentbright);
  font-family: raleway;
  font-size: 26px;
  font-weight: 700;
}

.lead {
  list-style: none;
}
.topbar {
  color: var(--maindark);
  font-size: 14px;
  font-weight: 500;
}
a:hover {
  color: var(--accentbright);
}

.rightbar {
  color: var(--mainmid);
  font-size: 14px;
  font-weight: 500;
}

a:link {
  text-decoration: none;
}
.lead-next {
  color: var(--mainmid);
  font-size: 14px;
  font-weight: 500;
  list-style: none;
}

.promobutton {
}
